doctype html
extends ../index
block content
  p Lorem ipsum dolor sit amet, amet et metus. Elementum pede. Porta mauris viverra montes dictum, netus massa porta praesent placerat mi morbi, nec semper enim donec voluptate, rutrum tortor, est nunc dignissim sed consectetuer mauris ut. Dui in maecenas id morbi metus, a litora. Platea fusce proin malesuada mauris. Wisi pede urna, orci morbi, adipiscing ornare ac parturient aliquam. Sit quis suscipit convallis adipiscing. Magna morbi nisl adipiscing quis, maecenas porta vitae felis pellentesque eros viverra, varius nunc nunc nihil, lacus a fusce luctus. Tincidunt justo, quam nulla quis, praesent suscipit amet magna vitae gravida.
  p Risus felis sapien adipiscing rutrum luctus, nunc vel sit dolor vulputate. Eget quis nec. Mauris rutrum duis, sit quam sed per, vestibulum at magna. Pede ac imperdiet magna felis sed vitae, condimentum gravida vitae duis cras, eu sit donec. Quis netus sed donec in, litora urna praesent natoque leo, sem suspendisse dui sit cras, mi risus justo morbi ut in, nullam cras. Platea sit, libero egestas, eros a elit et quam sit. Donec nulla maecenas malesuada metus ornare suscipit, id rhoncus luctus mi proin a, sit adipiscing fames condimentum pharetra nulla, non leo placerat sed, sapien cras pulvinar dolor sed.
  h3 Movie Reference Links
  ul
    li: a(href='http://rottentomatoes.com') Rotten Tomatoes
    li: a(href='http://www.imdb.com') Imdb
